@media screen and (max-width: 576px) {
    .container {
        max-width: 90%;
    }
    /* Header section responsive */
    .brand h1 a {
        font-size: 2rem;
    }
    .link-items {
        display: none;
    }
    .banner-content-box {
        max-width: 80%;
        padding-top: 50px;
    }
    .banner-title {
        font-size: 2.5rem;
    }
    .open-mobile-menu {
        font-size: 2rem;
        cursor: pointer;
        display: block;
    }
    /* team section */
    .team-section-wrap {
        flex-direction: column;
    }
    .team-image-boxs {
    width: 100%;
    }
    .team-content-box {
        width: 100%;
    }
    .team-content-wrap-box {
        padding-right: 0;
        margin-top: 31px;
    }
    /* Feature Section */
    .feature-containers {
	    flex-direction: column;
    }
    .feature-content, .feature-image-sis, .feature-text-box {
	    width: 100%;
    }
    .experiens-box {
        bottom: 0;
	    left: 0;
    }
    .experiens-box h1 {
	    font-size: 3.063rem;
    }
    /* Fact Section */
    .fact-boxs-wrap {
        grid-template-columns: repeat(1, 1fr);
        gap: 4%;
    }
    .defolt-title-box {
	    width: 100%;
    }
    /* Sponsor section */
    .sponsar-section {
	    margin-top: 50px;
    }
    .sponsor-img-box-wrap {
	    grid-template-columns: repeat(2, 1fr);
    }  
    .sponsor-img-box-wrap img {
        margin-bottom: 23px;
        width: 100%;
    }
}