@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary: #FF900E;
    --primary-light: rgba(255, 144, 14, 0.1);
    --dark_1: #131313;
    --dark_3: #727272;
}
body{
    font-family: "Work Sans", sans-serif;
}
img{
    width: 100%;
    object-fit: cover;
}
/* Shared  CSS*/
.d-flex{
    display: flex;
}
.container{
    max-width: 75%;
    margin: 0 auto;
}
.primary-btn{
    padding: 10px 20px;
    background-color: var(--primary);
    font-size: 20px;
    font-weight: 500;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
/* Header section css */
header{
    background-color: var(--primary-light);
    padding: 10px 0 50px 0;
}
/* navbar css */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand h1 a{
    color: #131313;
    font-size: 2.7rem;
    text-decoration: none;
    font-weight: 700;
}
.menu-bar ul {
	gap: 30px;
}
.menu-bar ul li{
    list-style: none;
}
.menu-bar ul li a{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}
.open-mobile-menu{
    display: none;
}
/* banner section */
.banner-content-box {
	max-width: 60%;
	margin: 0 auto;
	text-align: center;
	padding: 80px 0 40px 0;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: var(--dark_1);
}
.banner-pragrap {
	margin: 20px 0;
    color: var(--dark_3);
}
/* Team Section */
.team-section {
	padding: 50px 0;
}
.team-section-wrap{
    justify-content: space-between;
    align-items: center;
}
.team-image-boxs {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
    width: 48%;
}
.team-content-box {
	width: 48%;
}
.team-content-box h1{
    color: var(--dark_1);
    font-size: 2.7rem;
    line-height: 3.5rem;
}
.team-content-box .lightwade {
	color: var(--dark_3);
	font-weight: 500;
}
.team-content-box .heilight{
    color: var(--primary);
}
.team-content-box p {
	margin: 16px 0;
	color: var(--dark_3);
	line-height: 26px;
	font-weight: 400;
}
.team-content-wrap-box {
	padding-right: 21%;
}

/* Feature Section */
.feature-section {
	padding: 50px 0;
}
.feature-containers{
    justify-content: space-between;
}
.feature-title-box h1 {
	border-left: 5px solid #FF900E;
	line-height: 3.5rem;
	padding-left: 22px;
	font-size: 2.5rem;
}
.feature-title-box p {
	color: var(--dark_3);
	margin-top: 19px;
	margin-bottom: 36px;
}
.feature-content{
	width: 48%;
}
.feature-text-box {
	width: 96%;
	box-shadow: 1px 1px 15px 10px #f4f4f4;
	padding: 25px 25px;
	box-sizing: border-box;
	margin-bottom: 21px;
	border-radius: 8px;
}
.feature-image-sis{
    width: 45%;
    position: relative;
}
.feature-text-box h4 {
	font-size: 1.25rem;
	margin-bottom: 13px;
	color: var(--dark_1);
}
.feature-text-box p {
	font-size: 1rem;
	line-height: 1.6rem;
	color: var(--dark_3);
}
.experiens-box {
	text-align: center;
	background: var(--primary);
	color: white;
	padding: 28px 23px;
	border-radius: 8px;
	position: absolute;
	bottom: -4px;
	left: -75px;
}
.experiens-box h1 {
	font-size: 4.0625rem;
	font-weight: 700;
}
.experiens-box h4 {
	font-weight: 500;
	font-size: 1.625rem;
}
/* Fact Seciton */
.fact-section {
	padding: 10px 0 50px 0;
}
.fact-section .container .team-content-wrap-box {
	width: 40%;
	padding-right: 0;
}
.fact-section .container .team-content-wrap-box h1 {
	margin-bottom: 20px;
	font-size: 2.8125rem;
	color: var(--dark_1);
}
.fact-section .container .team-content-wrap-box p {
    color: var(--dark_3);
}
.fact-boxs-wrap {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-content: space-between;
	gap: 8%;
	width: 95%;
	margin: 43px auto;
}
.fact-box {
	text-align: center;
	padding: 28px 0;
	box-sizing: border-box;
	border-radius: 8px;
	border: 1px solid var(--primary);
}
.fact-box h2 {
	font-size: 2.8125rem;
	margin: 10px 0;
    color: var(--dark_1);
}
.fact-box img{
    width: auto;
}
.fact-box h4 {
	font-size: 1.25rem;
	color: var(--dark_3);
}